.cat {
    padding: 24px 0;
    overflow: hidden;

    .section_title {
        margin-bottom: 31px;
        padding-left: 12px;
    }
}

@media (max-width: 1215px) {
    .cat {

        .section_title {
            margin-bottom: 15px;
        }
    }
}