.header {
    position: relative;

    &__top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 14px 0;

        &_contacts {

            .geo {
                padding-left: 15px;
                position: relative;
                margin-right: 33px;
                display: inline-block;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: url('../img/geo.svg');
                }
            }

            .tel {
                padding-left: 15px;
                display: inline-block;
                position: relative;

                &:before {
                    position: absolute;     
                    top: 0;
                    left: 0;
                    content: url('../img/tel.svg');
                }
            }
        }

        &_nav {
            display: flex;

            li {
                margin-right: 20px;

                &:last-child {
                    margin: 0;
                }
            }

            &_item {
                display: block;
                @include ease-02;

                &:hover {
                    color: var(--btn);
                }
            }
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0 30px 0;

        &_logo {

        }
        &_cat.active {

            .open {
                display: none;
            }   

            .close {    
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &_cat {
            font-weight: 700;
            display: flex;
            align-items: center;

            padding-top: 13px;
            padding-bottom: 13px;
            
            svg {
                margin-right: 4px;
                display: flex;
                // height: 20px;
                // width: 20px;
            }

            &:active {
                transform: none;
            }

            .open {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .close {
                display: none;
            }




        }

        

        &_search {
            display: flex;
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 3px;
            &_drop {
                
                &_head {
                    padding: 10px 20px;
                    background-color: var(--light_back);
                    border-radius: 4px;
                    margin-right: 7px;
                    color: #3D5165;
                }

                &_list {
                    padding: 8px 12px;
                    background: #EFF3F6;
                    border-radius: 15px;
                    border-top-left-radius: 0px;
                }

                &_item {
                    display: block;
                    line-height: 24px;

                    border-bottom: 0.5px solid rgba(36, 36, 36, 0.05);

                    &:hover {
                        color: var(--btn);
                    }
                    
                    &:last-child {
                        border: none;
                    }
                }
            }

            &_input {
                width: 370px;
                padding: 10px;

                &::placeholder {
                    color: #ccc;
                }
            }

            &_btn {
                padding: 0 10px;
            }
        }

        &_btns {

            a {
                display: inline-flex;
                align-items: center;
                position: relative;

                svg {
                    margin-right: 10px;
                    width: 17px;
                    height: 17px;
                }
            }

            .main_btn {

                @include ease-02;

                &:hover {
                    color: var(--btn);
                }
            }

            .ind {  
                font-size: 10px;
                line-height: 12px;
                font-weight: 900;
                color: #fff;
                position: absolute;
                top: -9px;
                left: 7px;
                border-radius: 1px;
                padding: 1px 7px;
                display: block;
                border-radius: 4px;
            }
            .basket {   
                margin-right: 25px;
                
                .ind {
                    background-color: var(--btn);                    
                }
                // &:after {
                //     position: absolute;
                //     content: url('../img/cart.svg');
                //     top: 0;
                //     left: 0;
                // }
            }

            .favourite {
                margin-right: 25px;

                .ind {
                    background-color: var(--orange);
                }

                // &:after {
                //     position: absolute;
                //     content: url('../img/fav.svg');
                //     top: 0;
                //     left: 0;
                // }
            }

            .login {
                // &:after {
                //     position: absolute;
                //     content: url('../img/user.svg');
                //     top: 0;
                //     left: 0;
                // }
            }
        }


    }

    &__menu.active {
        z-index: 100;
        opacity: 1;
        visibility: visible;
        pointer-events: all; 
        height: 350px;
    }

    &__menu {
        position: absolute;
        top: calc(100% - 10px);
        left: 0;
        width: 100%;
        background: #FAFBFC;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        @include ease-02;
        
        padding: 15px;
        display: flex;
        height: 0;

        &_aside {
            min-width: 162px;
            

            &_list {

                li {
                    display: block;
                    margin-bottom: 25px;


                }
            }

            &_item {
                font-weight: 500;
                color: #3D5165;
                display: block;
                cursor: pointer;
                @include ease-02;

                &:hover {
                    color: var(--btn);
                }
            }

        }

        &_body {
            width: 100%;
            padding: 0 35px;
            // display: flex;
            gap: 5%;
            display: none;


            button[data-menuclose] {
                display: none;
            }


            .menu_col {

                &_item {

                    &_title {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 18.83px;
                        margin-bottom: 10px;
                    }

                    
                }
                &_list {
                    margin-bottom: 20px;
                    &_item {
                        display: block;
                        margin-bottom: 10px;

                        &:hover {
                            color: var(--btn);
                        }

                        a {
                            display: block;
                        }
                        
                    }
                }

                
            }
        }

    }

    
}


@media (max-width: 1215px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 10000;
        background-color: #fff;
        &__top {
            display: none;
        }

        &__main {
            flex-wrap: wrap;
            padding-bottom: 20px;   

            &_logo {    
                order: 1;
                width: 50%;
                margin-bottom: 15px;
            }

            &_cat_wr {
                order: 2;
                width: 50%;
                justify-content: flex-end;
                display: flex;
                margin-bottom: 15px;
            }

            &_cat {
                padding: 5px 6px !important;

                &:hover {
                    background-color: var(--btn);
                }

                &:active {
                    background-color: var(--btn);
                }


                span {
                    display: none;
                }

                svg {
                    margin: 0;
                }
            }

            &_search {
                order: 3;
                padding: 0; 
                max-width:  260px;
                width: 100%;  
                font-size: 14px;    
                line-height: 16px;  
                padding-left: 15px;
                position: relative; 

                &:after {
                    position: absolute; 
                    content: url('../img/mob-search.svg');
                    top: calc(50% - 8.5px); 
                    left: 5px;  
                }   

                &_input {
                    display: block; 
                    width: 100%;    
                    padding: 7px 5px;

                }

                &_drop {
                    display: none;
                }

                &_btn {
                    display: none;
                }
            }

            &_btns {
                order: 4;

                .main_btn {
                    margin-right: 15px !important;
                    padding: 0 !important;

                    

                    span {
                        display: none;
                    }

                    .ind {
                        display: block;
                    }
                }

                .login {
                    margin: 0 !important; 
                }

            }

        }
        &__menu.active {

        }
        &__menu {
            flex-direction: column;
            width: 100%;

            &_aside {
                position: relative;
                z-index: 10;

                &_list {

                }
            }

            &_body {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10000;
                background-color: #fff;
                flex-direction: column;
                padding: 15px;

                button[data-menuclose] {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 10px;
                    cursor: pointer;

                }
            }
        }
    }
}

@media (max-width: 400px) {
    .header {


        &__main {
            &_search {
                max-width: 200px;
                &_input {

                }
            }

            &_btns {

                .main_btn {
                    margin-right: 10px !important;

                    svg {
                        margin: 0 !important;
                    }

                    &:last-child {
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }
}