.promo {
    padding: 24px 0;
    overflow: hidden;

    .section_title {
        padding-left: 16px;
        margin-bottom: 31px;    
    }
}

@media (max-width: 1215px) {

    .promo {

        .section_title {
            margin-bottom: 15px;
        }
    }
}