.btn {
    color: #fff;
    background-color: var(--btn);
    padding: 8px 10px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include ease-02;

    &:hover {
        background-color: #00008b;
    }

    &:active {
        background-color: var(--btn_hover);
        background-color: #00008b;
        transform: scale(0.95);
    }

    &:disabled {
        background-color: var(--btn_dis);
    }
}

// .btn.dl {
//     background-color: var(--orange);
// }

// .btn_dis {
//     padding-left: 10px !important;
//     padding-right: 10px !important;
// }

@media (max-width: 1215px) {
    .btn {
        padding: 8px 4px !important;
        text-align: center;
        font-size: 12px;
        line-height: 14px;

        &:hover {
            background-color: var(--btn);
        }

        &:active {
            background-color: var(--btn);
        }
    }
}