.btn {
    color: #fff;
    background-color: var(--btn);
    padding: 14px 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include ease-02;

    &:hover {
        background-color: var(--btn_hover);
    }

    &:active {
        background-color: var(--btn_hover);
        transform: scale(0.95);
    }

    &:disabled {
        background-color: var(--btn_dis);
    }
}

.btn_dis {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

@media (max-width: 1215px) {
    .btn {
        padding: 7px 5px !important;
        text-align: center;
    }
}