.descr {
    padding: 30px 0;
    padding-top: 50px;

    &__title {
        // font-size: 22px;
        // line-height: 25px;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
    }
}

@media (max-width: 1215px) {

    .descr {
        padding: 30px 11px;
        padding-top: 50px;
    }
}