.mainform {
    width: 100%;
    background: rgba(239, 243, 246, 0.3);
    border-radius: 12px;      

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 40px;
    

    .section_title {
        margin-bottom: 15px;
    }

    &_subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 45px;
    }

    &_body {
        display: flex;
        justify-content: center;
        max-width: 493px;
        width: 100%;
        margin-bottom: 45px;

        input {
            width: 100%;
            padding: 10px;
        }

        .btn {
            padding: 10px 17px;
        }
    }

    &_info {
        font-weight: 500;

        a  {
            color: var(--btn);
        }
    }
}