.mainform {
    width: 100%;
    background: rgba(239, 243, 246, 0.3);
    border-radius: 12px;      

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 40px;
    

    .section_title {
        margin-bottom: 15px;
    }

    &_subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 45px;
    }

    &_body {
        display: flex;
        justify-content: center;
        max-width: 493px;
        width: 100%;
        margin-bottom: 45px;

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid var(--btn_dis);
            border-radius: 4px;
            border-right: none;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;

            &::placeholder {
                color: #ccc;
            }
        }

        .btn {
            padding: 10px 17px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }

    &_info {
        font-weight: 500;

        a  {
            color: var(--btn);
        }
    }
}

@media (max-width: 1215px) {
    .mainform {     
        padding: 20px;

        .section_title {
            text-align: center;
        }
        &_subtitle {
            text-align: center;
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 35px;
        }

        &_body {
            margin-bottom: 40px;    

            input {
                padding: 5px;
                font-size: 10px;    
                line-height: 12px; 
            }
            .btn {
                padding: 5px 5px;
                font-size: 10px;    
                line-height: 12px;   
            }
        }

        &_info {
            text-align: center;
            font-size: 10px;    
            line-height: 12px;  
        }
    }
}