.product {
    display: block;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    @include ease-02;

    &:hover {
        background-color: var(--light_back);
    }

    .product_func {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        display: none;
    }

    .product_ex {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 5px 7px;
        background-color: var(--orange);
        font-size: 8px;
        line-height: 8px;
        color: #fff;
        font-weight: 700;
        border-radius: 4px;
    }

    .product_img {
        padding: 0 10px;
        padding-top: 20px;
        display: flex;
        justify-content: center;

        

    }
    
    .product_name {
        font-weight: 500;
        margin-bottom: 8px;
        display: block;
        @include ease-02;

        &:hover {
            color: var(--orange);
        }
    }
    .product_price {
        display: flex;
        font-weight: 600;
        margin-bottom: 6px;
        font-size: 25px;
        line-height: 27px;

        .actual {

            margin-right: 7px;
        }

        .old {
            text-decoration: line-through;
            opacity: 0.5;
            font-size: 14px;
            line-height: 16px;

        }
    }
    .product_btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .btn {
            // padding: 10px 50px;
            width: 100%;
        }
        // .fav.active {

        //     svg {
        //         fill: var(--orange);

        //         path {
        //             fill: orange;
        //         }
        //     }
        // }
        .fav {
            padding: 11px 14px;
            border-radius: 6px;
            background-color: var(--light_back);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @include ease-02;

            &:hover {
                background-color: var(--btn_dis);
            }
        }
    }
}

@media (max-width: 1215px) {

    .product {
        &:hover {
            background-color: #fff;
        }
        .product_ex {
            top: calc(50% - 14px);
            padding: 4px;
        }

        .product_img {
            margin: 0;
            // width: 100px;
            // height: 100px;


            img {
                max-width: 100%;
                max-height: 100%;
                pointer-events: none;

            }
        }

        // .product_rate {
        //     margin: 0;
        //     margin-bottom: 5px;

        // }

        .product_name {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 10px;
        }

        .product_price {

            .actual {
                // font-size: 12px;
                // line-height: 14px;
                font-size: 18px;
                line-height: 20px;
                font-weight: 600;
            }

            .old {
                font-size: 14px;
                line-height: 16px;
            }
        }

        .product_btn {
            .btn {
                // padding: 4px !important;
                width: 100%;
                border-radius: 4px;
            }

            .fav {
                // padding: 4px;
                border-radius: 4px;
                padding: 10px;

                svg {
                    // width: 7px;
                    // height: 7px;
                }
            }
        }
    }
}


@media (max-width: 360px) {
    .product {


        .product_name {
            font-size: 12px;
            line-height: 14px;
        }
    }
}