.product_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 22px;
    padding: 0 20px;

    .product {
        max-width: 208px;
        margin-bottom: 41px;
    }
}

@media (max-width: 1215px) {

    .product_list {
        gap: 2%;

        .product {
            width: 49%;
            max-width: unset;
        }
    }
}