.prod__cond {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 10px 30px;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    z-index: 10;
}

.prod__cond.prod__cond_present {
    background-color: var(--btn);
}

.prod__cond.prod__cond_miss {
    background-color: var(--btn_dis);
}

@media (max-width: 1215px) {
    .prod__cond {
        left: 20px;
    }
}

@media (max-width: 600px) {
    .prod__cond {
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        padding: 5px 20px;
    }
}

.product.process {
    .btn {
        background-color: var(--orange);

        &:active {
            transform: none;
        }

        &:hover {
            background-color: var(--orange);
        }
    }
}

.product.accept {
    .btn {
        background-color: var(--btn);

        &:active {
            transform: none;
        }

        &:hover {
            background-color: var(--btn);
        }
    }
}

.product.cancel {
    .btn {
        background-color: var(--red);

        &:active {
            transform: none;
        }

        &:hover {
            background-color: var(--red);
        }
    }
}

.product.disabled {
    .btn {
        background-color: var(--btn_dis);
        padding-left: 10px !important;
        padding-right: 10px !important;

        &:active {
            transform: none;
        }
    }
}

.product.func {
    .product_func {
        position: absolute;
        top: 10px;
        right: 0;
        display:flex;
        justify-content: center;
        align-items: center;
    }
}