.product_rate {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .rating {
        margin-right: 8px;
    }

    .info {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;

        span {
            opacity: .5;
        }
    }
}

@media (max-width: 1215px) {
    .product_rate {
        margin: 0;
        margin-bottom: 5px;

    }
}