//COLORS
:root {

    --btn: #0047FF;
    --btn_dis: #C7C7C7;
    --btn_hover: #4979f3; 

    --orange: #FF9700;
    --text: #242424;
    --light_back: #EFF3F6;

}




//ANIM

@mixin ease-02 {
    transition: all .2s ease;
}

